doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='description' content='Demo作品，非商業用途')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(property='og:title' content='Creamy 寵物生活館')
    meta(property='og:description' content='寵物美容、安親、住宿 - 最專業的照顧')
    meta(property='og:type' content='Website')
    meta(property='og:url' content='https://chun2670.github.io/CreamyPetsHotel/index.html')
    meta(property='og:image' content='images/11news_1.jpg')
    title 寵物視訊 - 奎米寵物生活館
    link(rel='stylesheet', href='stylesheets/all.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Fjalla+One|Monoton|Oswald:200,300,400,500')


  body
    //- 側邊選單
    .aside.bg-second_light.pb-4.fixed-top
      button.navbar-toggler.asideMenu__toggle.border-fifth.text-center(type='button' aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style='text-align: center')
        span.navbar-toggler-icon.text-fifth.d-flex.justify-content-center.align-items-center
          i.fas.fa-times
      ul.navbar-nav.mt-3.aside__menu.pt-2
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle.px-3.py-1.aside__menu__dropdown.asideList__dropdown(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            | 關於我們
          ul.aside__menu__dropdown--open
            li
              a.dropdown-item.py-2.px-4(href='about.html') - 關於我們          
            li
              a.dropdown-item.py-2.px-4(href='service.html') - 服務項目
            li
              a.dropdown-item.py-2.px-4(href='certificate.html') - 相關認證
        li.nav-item
          .dropdown-divider
          a.nav-link.px-3.py-1(href='facilities.html') 環境介紹             
        li.nav-item
          .dropdown-divider
          a.nav-link.px-3.py-1(href='beauty.html') 寵物美容
        li.nav-item
          .dropdown-divider
          a.nav-link.px-3.py-1(href='camera.html') 寵物視訊 
        li.nav-item
          .dropdown-divider
          a.nav-link.px-3.py-1(href='news.html') 最新消息
        li.nav-item
          .dropdown-divider
          a.nav-link.px-3.py-1(href='contact.html') 聯絡我們

    //- navbar top
    nav.navbar.navbar-expand-lg.navbar-light.fixed-top.navbar_scroll.py-0.bg-bgTransparent.po_r
      button.navbar-toggler.asideMenu__toggle.border-fifth(type='button' aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style='text-align: center')
        span.navbar-toggler-icon
        span.sr-only Toggle navigation
      .mx-auto.ml-3
        a.navbar-brand.ml-3.py-0(href='index.html')
          img(src="images/logo_lg.png", alt="", height='62px')
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav.ml-auto.d-flex.align-items-center.text-center
          li.nav-item.dropdown.navbar__list.po_r
            //- 點關於我們無法跳連結 - 把 data-toggle='dropdown' 即可
            #navbarDropdownMenuLink.nav-link.navbar__list__menu.px-2
              .p.nav-item__text.dropdown-toggle 關於我們
            .dropdown-menu.bg-bgTransparent.pb-1.px-1.navbar__list__menu--open(aria-labelledby='navbarDropdownMenuLink' style='min-width: 100%; border: none')
              a.dropdown-item.text-center.py-2(href='about.html') 關於我們
              a.dropdown-item.text-center.py-2(href='service.html') 服務項目
              a.dropdown-item.text-center.py-2(href='certificate.html') 相關認證
          li.nav-item.po_r
            a.btn__style-4.nav-link.px-2.py-3(href='facilities.html') 
              .p.nav-item__text 環境介紹             
          li.nav-item.po_r
            a.btn__style-4.nav-link.px-2.py-3(href='beauty.html')
              .p.nav-item__text 寵物美容
          li.nav-item.po_r
            a.btn__style-4.nav-link.px-2.py-3(href='camera.html')
              .p.nav-item__text 寵物視訊                         
          li.nav-item.po_r
            a.btn__style-4.nav-link.px-2.py-3(href='news.html')
              .p.nav-item__text 最新消息
          li.nav-item.po_r
            a.btn__style-4.nav-link.px-2.py-3(href='contact.html')
              .p.nav-item__text 聯絡我們

    //- banner
    section.banner.mt-0
      .diamond
        div
      .container
        .bannerText.px-md-0.px-3.animated.pulse
          h2.h1.bannerText__title.mb-3 寵物視訊
          p.bannerText__content 輕鬆透過手機、電腦視訊關心愛寵，讓爸媽安心、放心
    
    //- 當前頁面位置 breadcrumb
    .container.my-2
      nav(aria-label='breadcrumb')
        ol.breadcrumb.px-0
          li.breadcrumb-item
            a(href='index.html')
              i.fas.fa-paw.text-second_light.mr-2
              | Home
          //- li.breadcrumb-item
          //-   a(href='about.html') 關於我們
          li.breadcrumb-item.active.font-weight-bold(aria-current='page') 寵物視訊


    section.camera
      .container.mb-5
        .row
          .col
            div.mb-4.ml-md-4.ml-2
              h4.mb-3 寵物視訊 APP 下載處 : 
              div.camera__download.ml-md-3.ml-1
                div
                  a.btn.py-0.text-bs_primary(href="https://www.apple.com/tw/itunes/" target="_blank")
                    i.fab.fa-apple.mr-2.camera__download-icon.camera__download-iconApple
                    | Apple (蘋果) 系統 APP 下載
                div
                  a.btn.py-0.text-bs_primary(href="https://play.google.com/store/apps" target="_blank")
                    i.fab.fa-android.mr-2.camera__download-icon.camera__download-iconAndroid
                    | Android (安卓) 系統 APP 下載
            .camera__progress

              .timeline
                .timeline-item.mb-3
                  .timeline-icon.circle.bg-primary_light
                    div.ab_center.text-white.wow.flip(style="animation-delay: 0.5s")
                      i.fas.fa-dice-one.fa-2x.ab_center.srFlipX_1
                  .timeline-content.ml-md-8.ml-0.mb-md-7.mb-1
                    h5.py-md-4.pb-2 1、根據您使用的裝置廠牌，點選上方連結下載處，點選 "取得" 來安裝視訊 App 於裝置內
                    div
                      img.img-fluid.wow.slideInUp(src="./images/camera_1.png", alt="")
                //- 向下箭頭 - phone 才出現
                div.text-center.text-info.mt-4.mt-4.d-md-none.d-block
                  i.far.fa-arrow-alt-circle-down.fa-3x.wow.fadeInDown

                .timeline-item.mb-3
                  .timeline-icon.circle.bg-primary_light
                    div.ab_center.text-white.wow.flip
                      i.fas.fa-dice-two.fa-2x.ab_center
                  .timeline-content.ml-md-8.ml-0.mb-md-7.mb-1
                    h5.py-md-4.pt-6.pb-2 2、安裝完成。開啟 App，點選左下方的編輯按鈕。
                    div
                      img.img-fluid.wow.slideInUp(src="./images/camera_2.png", alt="")
                //- 向下箭頭 - phone 才出現
                div.text-center.text-info.mt-4.d-md-none.d-block
                  i.far.fa-arrow-alt-circle-down.fa-3x.wow.fadeInDown

                .timeline-item.mb-3
                  .timeline-icon.circle.bg-primary_light
                    div.ab_center.text-white.wow.flip
                      i.fas.fa-dice-three.fa-2x.ab_center
                  .timeline-content.ml-md-8.ml-0.mb-md-7.mb-1
                    div.py-md-4.pt-6.pb-2
                      h5 3、輸入使用者帳號、密碼。 ( 請洽服務人員 )
                      h5 輸入完畢之後，點選儲存按鈕。
                    div
                      img.img-fluid.wow.slideInUp(src="./images/camera_3.png", alt="")
                //- 向下箭頭 - phone 才出現
                div.text-center.text-info.mt-4.d-md-none.d-block
                  i.far.fa-arrow-alt-circle-down.fa-3x.wow.fadeInDown

                .timeline-item.mb-3
                  .timeline-icon.circle.bg-primary_light
                    div.ab_center.text-white.wow.flip
                      i.fas.fa-dice-four.fa-2x.ab_center
                  .timeline-content.ml-md-8.ml-0.mb-md-7.mb-1
                    h5.py-md-4.pt-6.pb-2 4、恭禧您，設定完成 ! 選點 
                      i.fab.fa-youtube  播放按鈕即可開始與您的毛孩視訊囉 !
                    div
                      img.img-fluid.wow.slideInUp(src="./images/camera_4.jpg", alt="")
                //- 完成箭頭 - phone 才出現
                div.text-center.text-info.mt-4.d-md-none.d-block
                  i.far.fa-check-circle.fa-3x.wow.heartBeat

    section#footer
      .container-fluid
        .footer__bgPhoto.img-fluid
          .footer__bgPhoto__mobileCover
          .container.pt-md-8.pt-5.pl-md-2.pl-4
            .row
              //- footer 左欄-上 ( Logo )
              .col-lg-8.col-md-7.co-12.order-md-1.order-2
                div.w-80.w-lg-50.d-md-block.d-none
                  a(href='#')
                    img.footer__logo__img(src="images/logo_lg.png", alt="")
                //- footer 左欄-下 ( text, FB link, address ...)
                .row.mt-2
                  //- footer 左欄-下左 ( title, FB link)
                  .col-md.col-12
                    p.d-md-block.d-none.mb-2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus!
                    .footer__linkGroup
                      a.btn.pl-0(href="https://www.facebook.com/" target='_blank')
                        .circle.border.border-fifth.po_r(style='width: 40px; height: 40px')
                          i.fab.fa-facebook-f.text-fifth.ab_center
                      a.btn.pl-0(href="https://www.instagram.com/" target='_blank')
                        .circle.border.border-fifth.po_r(style='width: 40px; height: 40px')                   
                          i.fab.fa-instagram.text-fifth.ab_center
                    .footer__linkGroup.mt-2.d-flex.align-items-center
                      i.far.fa-share-square.text-fifth.mr-2
                      span.mr-2 Share on
                      //- Facebook 分享 copy 原始程式碼
                      //- img(src='../images/fb_share.png' alt='Share on Facebook' onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('https://www.ebay.com.au'),'facebook-share-dialog','width=626,height=436'); return false;")
                      div
                        a.shareBtn.btn.mr-2.po_r(alt='Share on Facebook' onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('https://www.ebay.com.au'),'facebook-share-dialog','width=626,height=436'); return false;")
                          .shareBtn__border.circle.border.border-fifth.po_r.ab_center
                            i.fab.fa-facebook-f.text-fifth.ab_center
                      //- twitter
                      //- img(src='../images/fb_share.png' alt='Share on Twitter' onclick="javascript:window.open('https://twitter.com/share?text=Welcome to Creamy Pets Hotel&url=https://www.ebay.com.au','Twitter-dialog','width=626,height=436'); return false;")
                      div
                        a.shareBtn.btn.po_r(alt='Share on Twitter' onclick="javascript:window.open('https://twitter.com/share?text=Welcome to Creamy Pets Hotel&url=https://www.ebay.com.au','Twitter-dialog','width=626,height=436'); return false;")
                            .shareBtn__border.circle.border.border-fifth.po_r.ab_center
                              i.fab.fa-twitter.text-fifth.ab_center

                  //- footer 左欄-下右 ( address, email ...)
                  .col-md.col-12.pr-0.pt-4.d-flex.align-items-end
                    ul.list__info.d-inline-block.mb-0
                      li
                        i.fas.fa-phone-volume.mr-2.mb-2.text-center(style='width: 16px; height: 16px')       
                        a(href='tel:+886-922-XXX-000') 0922-XXX-000
                      li
                        i.fas.fa-envelope.mr-2.mb-2.text-center(style='width: 16px; height: 16px') 
                        a(href="mailto:xxcreamy@test.com") xxcreamy@test.com
                      li
                        i.fas.fa-map-marker-alt.mr-2.mb-2.text-center(style='width: 16px; height: 16px') 
                        a(href="https://www.google.com.tw/maps/place/%E6%96%B0%E7%AB%B9%E7%81%AB%E8%BB%8A%E7%AB%99/@24.8010681,120.9704714,15z/data=!4m5!3m4!1s0x346835e9c2e07205:0x5e8cb484291aeeba!8m2!3d24.8015976!4d120.9715962&zoom=16" target="_blank")
                          | Hsin-Chu City, Taiwan
                      li
                        i.far.fa-clock.mr-2.mb-2.text-center(style='width: 16px; height: 16px') 
                        span 9:00 to 21:00
              
              //- footer 右欄 ( 關於我們, 寵物美容.. )
              .col-lg-4.col-md-5.col-12.order-md-1.order-1.pl-lg-5.align-self-lg-end.align-self-md-center
                .row
                  //- footer 右欄-左 ( 關於我們.. )
                  .col.pr-0
                    ul.list-unstyled
                      li.mb-2
                        a(href='about.html') 
                          i.far.fa-arrow-alt-circle-right.mr-2
                          | 關於我們
                      li.mb-2.ml-3
                        a(href='service.html') 
                          .mr-2 - 服務項目
                      li.mb-2.ml-3
                        a(href='certificate.html') 
                          .mr-2 - 認證
                      li.mb-2.mt-2
                        a(href='facilities.html') 
                          i.far.fa-arrow-alt-circle-right.mr-2
                          | 住宿環境
                      li.mb-2.ml-3
                        a(href='facilities.html') - 汪星人住宿
                      li.mb-2.ml-3
                        a(href='facilities.html') - 喵星人住宿 
                  //- footer 右欄-右 ( 寵物美容.. )
                  .col.pr-0
                    ul.list-unstyled
                      li.mb-2
                        a(href='beauty.html') 
                          i.far.fa-arrow-alt-circle-right.mr-2
                          | 寵物美容 
                      li.mb-2
                        a(href='camera.html') 
                          i.far.fa-arrow-alt-circle-right.mr-2
                          | 寵物視訊 
                      li.mb-2
                        a(href='news.html') 
                          i.far.fa-arrow-alt-circle-right.mr-2
                          | 最新消息 
                      li.mb-2
                        a(href='contact.html') 
                          i.far.fa-arrow-alt-circle-right.mr-2
                          | 聯絡我們                                                                   

          .copyright.w-100.text-center.text-copyright.m-auto.py-2
            hr.border-copyright
            p.m-0.pb-1 &copy; Copyright Yu Chen. 此網站為個人作品展示用，非商業用途。



    #backtoTop(style='display:none')
      a(href="#")
        i.fas.fa-angle-double-up


//- 放最前面
script(src='js/jquery-3.4.1.min.js')
//- 插件
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
//- script(src='https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js')
script(src='js/wow.min.js')
script(src='https://unpkg.com/scrollreveal')
script(src='https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js')
script(src='js/lightbox.js')
//- Facebook 分享
#fb-root
script(async='' defer='' crossorigin='anonymous' src='https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v4.0')
//- 放最後面
script(type='text/javascript', src='js/all.js')
