doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='description' content='Demo作品，非商業用途')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(property='og:title' content='Creamy 寵物生活館')
    meta(property='og:description' content='寵物美容、安親、住宿 - 最專業的照顧')
    meta(property='og:type' content='Website')
    meta(property='og:url' content='https://chun2670.github.io/CreamyPetsHotel/index.html')
    meta(property='og:image' content='images/11news_1.jpg')
    title 最新消息文章1 - 奎米寵物生活館
    link(rel='stylesheet', href='stylesheets/all.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Fjalla+One|Monoton|Oswald:200,300,400,500')


  body
    //- 側邊選單
    .aside.bg-second_light.pb-4.fixed-top
      button.navbar-toggler.asideMenu__toggle.border-fifth.text-center(type='button' aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style='text-align: center')
        span.navbar-toggler-icon.text-fifth.d-flex.justify-content-center.align-items-center
          i.fas.fa-times
      ul.navbar-nav.mt-3.aside__menu.pt-2
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle.px-3.py-1.aside__menu__dropdown.asideList__dropdown(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            | 關於我們
          ul.aside__menu__dropdown--open
            li
              a.dropdown-item.py-2.px-4(href='about.html') - 關於我們          
            li
              a.dropdown-item.py-2.px-4(href='service.html') - 服務項目
            li
              a.dropdown-item.py-2.px-4(href='certificate.html') - 相關認證
        li.nav-item
          .dropdown-divider
          a.nav-link.px-3.py-1(href='facilities.html') 環境介紹             
        li.nav-item
          .dropdown-divider
          a.nav-link.px-3.py-1(href='beauty.html') 寵物美容
        li.nav-item
          .dropdown-divider
          a.nav-link.px-3.py-1(href='camera.html') 寵物視訊 
        li.nav-item
          .dropdown-divider
          a.nav-link.px-3.py-1(href='news.html') 最新消息
        li.nav-item
          .dropdown-divider
          a.nav-link.px-3.py-1(href='contact.html') 聯絡我們

    //- navbar top
    nav.navbar.navbar-expand-lg.navbar-light.fixed-top.navbar_scroll.py-0.bg-bgTransparent.po_r
      button.navbar-toggler.asideMenu__toggle.border-fifth(type='button' aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style='text-align: center')
        span.navbar-toggler-icon
        span.sr-only Toggle navigation
      .mx-auto.ml-3
        a.navbar-brand.ml-3.py-0(href='index.html')
          img(src="images/logo_lg.png", alt="", height='62px')
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav.ml-auto.d-flex.align-items-center.text-center
          li.nav-item.dropdown.navbar__list.po_r
            //- 點關於我們無法跳連結 - 把 data-toggle='dropdown' 即可
            #navbarDropdownMenuLink.nav-link.navbar__list__menu.px-2
              .p.nav-item__text.dropdown-toggle 關於我們
            .dropdown-menu.bg-bgTransparent.pb-1.px-1.navbar__list__menu--open(aria-labelledby='navbarDropdownMenuLink' style='min-width: 100%; border: none')
              a.dropdown-item.text-center.py-2(href='about.html') 關於我們
              a.dropdown-item.text-center.py-2(href='service.html') 服務項目
              a.dropdown-item.text-center.py-2(href='certificate.html') 相關認證
          li.nav-item.po_r
            a.btn__style-4.nav-link.px-2.py-3(href='facilities.html') 
              .p.nav-item__text 環境介紹             
          li.nav-item.po_r
            a.btn__style-4.nav-link.px-2.py-3(href='beauty.html')
              .p.nav-item__text 寵物美容
          li.nav-item.po_r
            a.btn__style-4.nav-link.px-2.py-3(href='camera.html')
              .p.nav-item__text 寵物視訊                         
          li.nav-item.po_r
            a.btn__style-4.nav-link.px-2.py-3(href='news.html')
              .p.nav-item__text 最新消息
          li.nav-item.po_r
            a.btn__style-4.nav-link.px-2.py-3(href='contact.html')
              .p.nav-item__text 聯絡我們
    //- banner
    section.banner.mt-0
      .diamond
        div
      .container
        .bannerText.px-md-0.px-3.animated.pulse
          h2.h1.bannerText__title.mb-3 最新消息
          p.bannerText__content Creamy 寵物生活館的活動及回饋優惠等你拿 !
    
    //- 當前頁面位置 breadcrumb
    .container.my-2
      nav(aria-label='breadcrumb')
        ol.breadcrumb.px-0
          li.breadcrumb-item
            a(href='index.html')
              i.fas.fa-paw.text-second_light.mr-2
              | Home
          li.breadcrumb-item
            a(href='news.html') 最新消息
          li.breadcrumb-item.active.font-weight-bold(aria-current='page') 碳酸泉浴現正優惠中 !


    section.newsPost
      .container.mb-5
        .row
          .col-md-9.col-12
            .newsPost_title.mb-3
              h3 碳酸泉浴現正優惠中 !
            .row
              //- 最新日期跟分享
              .col-lg-1.col-12.pr-lg-0.pr-3.pl-lg-0.pl-4.mb-lg-0.mb-2.justify-content-center.po_r
                
                .row.flex-lg-column.flex-row.justify-content-between.align-items-end.sticky-top.pr-1
                  .col-lg.col-md-3.col-4.pl-lg-2.pl-1.aa
                    //- .row.flex-lg-column.flex-row.no-gutters.bg-primary_light.text-fifth.text-center
                    .row.flex-column.no-gutters.bg-primary_light.text-fifth.text-center
                      .col.px-1
                        span.today_m
                        span /
                        span.today_d
                      .col.d-lg-block.d-none
                        hr.my-1.text-white.newsPost__main-dateHr
                      .col.px-1
                        span.today_y.text-center
                        span 年

                  .col-lg.col.pl-0
                    .row.flex-lg-column.flex-row.no-gutters
                      .col.my-1.mx-lg-0.mx-md-3.mx-2
                        .mb-0.mr-lg-0.pr-lg-1.text-primary_light.text-right 分享
                      .col
                        .exlinkGroup.d-flex.flex-lg-column.align-items-end
                          a.shareBtn.exlinkGroup-btn.btn.mb-1.mr-lg-0.mr-2.po_r(alt='Share on Facebook' onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('newsPost_1.html'),'facebook-share-dialog','width=626,height=436'); return false;")
                            .shareBtn__border.circle.border.border-primary_light.po_r.ab_center(style='width: 40px; height: 40px')
                              i.fab.fa-facebook-f.text-primary_light.ab_center
                          a.shareBtn.exlinkGroup-btn.btn.mb-1.mr-lg-0.mr-2.po_r(alt='Share on Twitter' onclick="javascript:window.open('https://twitter.com/share?text=Welcome to Creamy Pets Hotel, view the news post.&url=newsPost_1.html','Twitter-dialog','width=626,height=436'); return false;")
                              .shareBtn__border.circle.border.border-primary_light.po_r.ab_center(style='width: 40px; height: 40px')
                                i.fab.fa-twitter.text-primary_light.ab_center
                          a.shareBtn.exlinkGroup-btn.btn.mb-1.po_r(style='padding-bottom: 0px' title='Copy this post Link')
                            button.shareCopyBtn.circle(type='button' data-url='https://www.creamypetshotel.com/newsPost_1.html/' data-trigger='copy' data-toggle='popover' data-content="已複製連結!")         
                              .shareBtn__border.circle.border.border-primary_light.po_r.ab_center(style='width: 40px; height: 40px')    
                                i.fas.fa-link.text-primary_light.ab_center

              //- 主文章區塊
              .col-lg-11.col-12.pl-lg-1.pl-md-3
                  .newsPost__content
                    //- 照片
                    img.img-fluid(src="./images/11news_1.jpg", alt="")
                    //- 文字
                    div.newsPost__content__text.my-2
                      p 又到了天氣變化大的季節...
                      p 寶貝皮膚出問題了嗎?
                      p 近期天氣變化大，近日許多寶貝皮膚都出狀況啦，每次美容完都覺得好心疼!
                      div.my-4
                        p.newsPost__content__text-h5
                          i.far.fa-hand-point-right.mr-2
                          | 活動辦法
                        div.ml-2
                          p 只要來店出示分享 Creamy 寵物生活館此篇貼文
                          p 即可享有【日本原裝超高濃度碳酸泉浴】優惠價50元!!(原價$250元-$600元)                      
                      div.my-4
                        p.newsPost__content__text-h5
                          i.far.fa-hand-point-right.mr-2
                          | 專屬寵貓狗服務
                        div.ml-2
                          p
                            i.fas.fa-check.mr-2
                            | 24hr視訊設備-出門在外也能看到寶貝度假狀況
                          p
                            i.fas.fa-check.mr-2
                            | 夜間保姆-減少外出住宿的緊張感
                          p
                            i.fas.fa-check.mr-2
                            | 專屬每日四次遊樂園時間-增加活動空間＋時間
                          p
                            i.fas.fa-check.mr-2
                            | 免費多款零食-增進與保母的情感
                          p
                            i.fas.fa-check.mr-2
                            | 寵愛貓狗保姆-全天候走動陪伴不孤單
                          p
                            i.fas.fa-check.mr-2
                            | 專車接送-汽車接送好安心
                          p
                            i.fas.fa-check.mr-2
                            | 頂級設備新光三越頂級家電
                          p
                            i.fas.fa-check.mr-2
                            | 安體百克魔球
                          p
                            i.fas.fa-check.mr-2
                            | HoneyWell 空氣清淨機
                          p
                            i.fas.fa-check.mr-2
                            | Panasonic 奈米抗菌除濕機
                          p
                            i.fas.fa-check.mr-2
                            | 貓狗房紫外線燈管殺菌     
            
            //- 回上頁 button
            div.d-flex.justify-content-end
              .btn.btn__style-2(onclick='goBack()') 
                i.fas.fa-share.mr-2
                | 回上頁
          //- 右側最新消息
          .col-md-3.col-12
            .newsPost__aside
              a(href="")
                h5.text-primary 其它最新消息
              div
                a(href="")
                  .row
                    .col-1
                      i.far.fa-newspaper
                    .col
                      p.mb-1 歡慶周年慶，感恩回饋享好禮！
              div
                a(href="")
                  .row
                    .col-1
                      i.far.fa-newspaper
                    .col
                      p 住宿滿額好禮免費帶回家 !
              div
                a(href="")
                  .row
                    .col-1
                      i.far.fa-newspaper
                    .col
                      p 慶開幕，小型犬平日洗澡或美容送「牛奶浴SPA」!
              div
                a(href="")
                  .row
                    .col-1
                      i.far.fa-newspaper
                    .col
                      p 2019 寵物用品展憑消費任一即可免費獲得入場券



    section#footer
      .container-fluid
        .footer__bgPhoto.img-fluid
          .footer__bgPhoto__mobileCover
          .container.pt-md-8.pt-5.pl-md-2.pl-4
            .row
              //- footer 左欄-上 ( Logo )
              .col-lg-8.col-md-7.co-12.order-md-1.order-2
                div.w-80.w-lg-50.d-md-block.d-none
                  a(href='#')
                    img.footer__logo__img(src="images/logo_lg.png", alt="")
                //- footer 左欄-下 ( text, FB link, address ...)
                .row.mt-2
                  //- footer 左欄-下左 ( title, FB link)
                  .col-md.col-12
                    p.d-md-block.d-none.mb-2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus!
                    .footer__linkGroup
                      a.btn.pl-0(href="https://www.facebook.com/" target='_blank')
                        .circle.border.border-fifth.po_r(style='width: 40px; height: 40px')
                          i.fab.fa-facebook-f.text-fifth.ab_center
                      a.btn.pl-0(href="https://www.instagram.com/" target='_blank')
                        .circle.border.border-fifth.po_r(style='width: 40px; height: 40px')                   
                          i.fab.fa-instagram.text-fifth.ab_center
                    .footer__linkGroup.mt-2.d-flex.align-items-center
                      i.far.fa-share-square.text-fifth.mr-2
                      span.mr-2 Share on
                      //- Facebook 分享 copy 原始程式碼
                      //- img(src='../images/fb_share.png' alt='Share on Facebook' onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('https://www.ebay.com.au'),'facebook-share-dialog','width=626,height=436'); return false;")
                      div
                        a.shareBtn.btn.mr-2.po_r(alt='Share on Facebook' onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('https://www.ebay.com.au'),'facebook-share-dialog','width=626,height=436'); return false;")
                          .shareBtn__border.circle.border.border-fifth.po_r.ab_center
                            i.fab.fa-facebook-f.text-fifth.ab_center
                      //- twitter
                      //- img(src='../images/fb_share.png' alt='Share on Twitter' onclick="javascript:window.open('https://twitter.com/share?text=Welcome to Creamy Pets Hotel&url=https://www.ebay.com.au','Twitter-dialog','width=626,height=436'); return false;")
                      div
                        a.shareBtn.btn.po_r(alt='Share on Twitter' onclick="javascript:window.open('https://twitter.com/share?text=Welcome to Creamy Pets Hotel&url=https://www.ebay.com.au','Twitter-dialog','width=626,height=436'); return false;")
                            .shareBtn__border.circle.border.border-fifth.po_r.ab_center
                              i.fab.fa-twitter.text-fifth.ab_center

                  //- footer 左欄-下右 ( address, email ...)
                  .col-md.col-12.pr-0.pt-4.d-flex.align-items-end
                    ul.list__info.d-inline-block.mb-0
                      li
                        i.fas.fa-phone-volume.mr-2.mb-2.text-center(style='width: 16px; height: 16px')       
                        a(href='tel:+886-922-XXX-000') 0922-XXX-000
                      li
                        i.fas.fa-envelope.mr-2.mb-2.text-center(style='width: 16px; height: 16px') 
                        a(href="mailto:xxcreamy@test.com") xxcreamy@test.com
                      li
                        i.fas.fa-map-marker-alt.mr-2.mb-2.text-center(style='width: 16px; height: 16px') 
                        a(href="https://www.google.com.tw/maps/place/%E6%96%B0%E7%AB%B9%E7%81%AB%E8%BB%8A%E7%AB%99/@24.8010681,120.9704714,15z/data=!4m5!3m4!1s0x346835e9c2e07205:0x5e8cb484291aeeba!8m2!3d24.8015976!4d120.9715962&zoom=16" target="_blank")
                          | Hsin-Chu City, Taiwan
                      li
                        i.far.fa-clock.mr-2.mb-2.text-center(style='width: 16px; height: 16px') 
                        span 9:00 to 21:00
              
              //- footer 右欄 ( 關於我們, 寵物美容.. )
              .col-lg-4.col-md-5.col-12.order-md-1.order-1.pl-lg-5.align-self-lg-end.align-self-md-center
                .row
                  //- footer 右欄-左 ( 關於我們.. )
                  .col.pr-0
                    ul.list-unstyled
                      li.mb-2
                        a(href='about.html') 
                          i.far.fa-arrow-alt-circle-right.mr-2
                          | 關於我們
                      li.mb-2.ml-3
                        a(href='service.html') 
                          .mr-2 - 服務項目
                      li.mb-2.ml-3
                        a(href='certificate.html') 
                          .mr-2 - 認證
                      li.mb-2.mt-2
                        a(href='facilities.html') 
                          i.far.fa-arrow-alt-circle-right.mr-2
                          | 住宿環境
                      li.mb-2.ml-3
                        a(href='facilities.html') - 汪星人住宿
                      li.mb-2.ml-3
                        a(href='facilities.html') - 喵星人住宿 
                  //- footer 右欄-右 ( 寵物美容.. )
                  .col.pr-0
                    ul.list-unstyled
                      li.mb-2
                        a(href='beauty.html') 
                          i.far.fa-arrow-alt-circle-right.mr-2
                          | 寵物美容 
                      li.mb-2
                        a(href='camera.html') 
                          i.far.fa-arrow-alt-circle-right.mr-2
                          | 寵物視訊 
                      li.mb-2
                        a(href='news.html') 
                          i.far.fa-arrow-alt-circle-right.mr-2
                          | 最新消息 
                      li.mb-2
                        a(href='contact.html') 
                          i.far.fa-arrow-alt-circle-right.mr-2
                          | 聯絡我們                                                                   

          .copyright.w-100.text-center.text-copyright.m-auto.py-2
            hr.border-copyright
            p.m-0.pb-1 &copy; Copyright Yu Chen. 此網站為個人作品展示用，非商業用途。


    #backtoTop(style='display:none')
      a(href="#")
        i.fas.fa-angle-double-up


//- 放最前面
script(src='js/jquery-3.4.1.min.js')
//- 插件
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
//- script(src='https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js')
script(src='js/wow.min.js')
script(src='https://unpkg.com/scrollreveal')
script(src='https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js')
script(src='js/lightbox.js')
//- Facebook 分享
#fb-root
script(async='' defer='' crossorigin='anonymous' src='https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v4.0')
//- 放最後面
script(type='text/javascript', src='js/all.js')
